---
title: 'Лаборатория дизайна высшей школы экономики'
page_class: 'index'
---
.main-wrapper
	%header.header.columns.chapter{ :data => {:link => '.header-link'} }
		/ .logo.col
		.infoblock.col
			.social
				%a.social-fb{href: "https://www.facebook.com/HSEDesign"} Facebook
				%a.social-vk{href: "http://vk.com/hsedesign"} Vk
				%a.social-tw{href: "http://twitter.com/hsedesign"} Twitter
			.infoblock-contacts
				%p
					%a{:href => "mailto:deslab@hse.ru"} deslab@hse.ru
				%p +7 (495) 772-95-90 (доб. 14302)
		/ .descriptions Это дизайн-студия, исследовательскиий центр и&nbsp;образовательная программа. Интеллектуальныий ресурс лаборатории составляют опытные дизайнеры, а&nbsp;также лучшие студенты #{ link_to 'HSE Art and Design School', 'http://design.hse.ru'}
		.description Лаборатория дизайна – это подразделение Школы дизайна НИУ ВШЭ, по форме деятельности представляющее собой арт-студию или дизайн-бюро. Но ни в одной другой студии вы не найдете такого количества выдающих дизайнеров, собранных под одной крышей. Интеллектуальные и технические ресурсы Лаборатории позволяют собрать оптимально выгодный состав команды под каждый новый проект и бюджет.
	.what.chapter{ :data => {:link => '.what-link'} }
		%h2 что
		.filter.filter_tags
			%a.filter_active.filter-item{:href => "all", :id => "all"} всё
			%a.filter-item{:href => "graph", :id => "graph"} графический&nbsp;дизайн
			%a.filter-item{:href => "brending", :id => "brending"} брендинг
			/ %a.filter-item{:href => "logotypes", :id => "logotypes"} логотипы
			/ %a.filter-item{:href => "znaki", :id => "znaki"} знаки
			/ %a.filter-item{:href => "stili", :id => "stili"} стили
			/ %a.filter-item{:href => "upakovka", :id => "upakovka"} упаковка
			/ %a.filter-item{:href => "izdatel", :id => "izdatel"} издательские&nbsp;проекты
			%a.filter-item{:href => "godotchet", :id => "godotchet"} годовые&nbsp;отчеты&nbsp;и&nbsp;буклеты
			/ %a.filter-item{:href => "knigi", :id => "knigi"} книги
			/ %a.filter-item{:href => "illustracii", :id => "illustracii"} иллюстрации
			%a.filter-item{:href => "prezentacii", :id => "prezentacii"} презентации
			%a.filter-item{:href => "infografika", :id => "infografika"} инфографика
			%a.filter-item{:href => "digital", :id => "digital"} диджитал
			/ %a.filter-item{:href => "sites", :id => "sites"} сайты
			/ %a.filter-item{:href => "application", :id => "application"} приложения
			%a.filter-item{:href => "reklama", :id => "reklama"} реклама
			/ %a.filter-item{:href => "issledovania", :id => "issledovania"} исследования
			/ %a.filter-item{:href => "analitika", :id => "analitika"} аналитика
			/ %a.filter-item{:href => "kreativstrat", :id => "kreativstrat"} креативные&nbsp;стратегии
			%a.filter-item{:href => "g2013", :id => "g2013"} 2013
			%a.filter-item{:href => "g2014", :id => "g2014"} 2014
			%br
		%span.portfolio-link
			%a{:href => settings.prefix + "/assets/data/hse-designlab-portfolio.pdf"} скачать портфолио pdf, 10&nbsp;МБ

.items-wrapper
	.items#items
		%a.item.magpop.f_all.f_graph.f_infografika.f_reklama.f_godotchet.f_g2014{:href => settings.prefix + "/assets/data/posts/chtpz", :id => "chtpz", :style => "background-color: #c2321a;", :data => {:id => 'chtpz'}}
			%span.item-title ЧТПЗ<br />полиграфия
		%a.item.magpop.f_all.f_graph.f_brending.f_infografika.f_godotchet.f_g2014{:href => settings.prefix + "/assets/data/posts/rvk", :id => "rvk", :style => "background-color: #730e92;", :data => {:id => 'rvk'}}
			%span.item-title РВК<br />полиграфия
		%a.item.item_big.magpop.f_all.f_graph.f_brending.f_g2014{:href => settings.prefix + "/assets/data/posts/hosp", :id => "hosp", :style => "background-color: #ebdf35;", :data => {:id => 'hosp'}}
			%span.item-title Первый московский хоспис им.&nbsp;Веры&nbsp;Миллионщиковой<br />стиль
		%a.item.magpop.f_all.f_graph.f_brending.f_digital.f_reklama.f_g2014{:href => settings.prefix + "/assets/data/posts/school", :id => "school", :style => "background-color: #000000;", :data => {:id => 'school'}}
			%span.item-title Школа дизайна<br /> стиль и носители
		%a.item.magpop.f_all.f_graph.f_brending.f_infografika.f_g2013.f_g2014{:href => settings.prefix + "/assets/data/posts/lyceumhse", :id => "lyceumhse", :style => "background-color: #1264fb;", :data => {:id => 'lyceumhse'}}
			%span.item-title Лицей НИУ&nbsp;ВШЭ <br />стиль
		%a.item.magpop.f_all.item_big.f_graph.f_brending.f_g2013{:href => settings.prefix + "/assets/data/posts/goldhse", :id => "goldhse", :style => "background-color: #ffb8b8;", :data => {:id => 'goldhse'}}
			%span.item-title премия «Золотая вышка» <br />стиль
		%a.item.magpop.f_all.item_big.f_graph.f_brending.f_g2013{:href => settings.prefix + "/assets/data/posts/depintercom", :id => "depintercom", :style => "background-color: #c23a1d;", :data => {:id => 'depintercom'}}
			%span.item-title «Отделение интегрированных коммуникаций»<br />стиль
		%a.item.magpop.f_all.item_big.f_graph.f_brending.f_g2013{:href => settings.prefix + "/assets/data/posts/pyrusstyle", :id => "pyrusstyle", :style => "background-color: #e7b73c;", :data => {:id => 'pyrusstyle'}}
			%span.item-title PYRUS<br />стиль
		%a.item.magpop.f_all.f_digital.f_reklama.f_g2014{:href => settings.prefix + "/assets/data/posts/pyrussite", :id => "pyrussite", :style => "background-color: #2bb6ac;", :data => {:id => 'pyrussite'}}
			%span.item-title PYRUS <br />сайт
		%a.item.magpop.f_all.f_graph.f_reklama.f_g2013.f_g2014{:href => settings.prefix + "/assets/data/posts/lecturezil", :id => "lecturezil", :style => "background-color: #0b4dd9;", :data => {:id => 'lecturezil'}}
			%span.item-title Лекции в кц ЗИЛ
		%a.item.magpop.f_all.f_graph.f_godotchet.f_g2013.f_g2014{:href => settings.prefix + "/assets/data/posts/rosatom", :id => "rosatom", :style => "background-color: #df7b00;", :data => {:id => 'rosatom'}}
			%span.item-title Росатом <br />буклет
		%a.item.magpop.f_all.item_big.f_graph.f_brending.f_digital.f_g2013.f_g2014{:href => settings.prefix + "/assets/data/posts/iohse", :id => "iohse", :style => "background-color: #8c3e3f;", :data => {:id => 'iohse'}}
			%span.item-title «Института образования НИУ&nbsp;ВШЭ» <br />Брендбук
		%a.item.magpop.f_all.f_digital.f_g2013{:href => settings.prefix + "/assets/data/posts/isiezsite", :id => "isiezsite", :style => "background-color: #3cc47c;", :data => {:id => 'isiezsite'}}
			%span.item-title ИСИЭЗ <br />сайт
			/ Сайт для института статистических исследований и экономики знаний
		%a.item.magpop.f_all.f_godotchet{:href => settings.prefix + "/assets/data/posts/arkso", :id => "arkso", :style => "background-color: #77b4d1;", :data => {:id => 'arkso'}}
			%span.item-title Годовой отчет ВЭБ
		%a.item.magpop.f_all.f_graph.f_reklama.f_g2013{:href => settings.prefix + "/assets/data/posts/lecturesp", :id => "lecturesp", :style => "background-color: #64bebf;", :data => {:id => 'lecturesp'}}
			%span.item-title лекции в Санкт-Петербурге
		%a.item.item_big.f_all.magpop.f_graph.f_prezentacii.f_infografika.f_g2013.f_g2014{:href => settings.prefix + "/assets/data/posts/presentationdepculture", :id => "presentationdepculture", :style => "background-color: #339e2a;", :data => {:id => 'presentationdepculture'}}
			%span.item-title Презентация для ДЕПАРТАМЕНТа&nbsp;КУЛЬТУРЫ
		%a.item.magpop.f_all.f_graph.f_infografika.f_godotchet.f_g2013{:href => settings.prefix + "/assets/data/posts/isiezbooklet", :id => "isiezbooklet", :style => "background-color: #6862a2;", :data => {:id => 'isiezbooklet'}}
			%span.item-title ИСИЭЗ <br />буклет
		%a.item.magpop.f_all.f_graph.f_godotchet.f_infografika.f_g2013{:href => settings.prefix + "/assets/data/posts/skolkovo", :id => "skolkovo", :style => "background-color: #76d7ff;", :data => {:id => 'skolkovo'}}
			%span.item-title Сколково <br />буклет


.main-wrapper
	.how.chapter{ :data => {:link => '.how-link'} }
		%h2 как
		.scheme
			%img{:src => settings.prefix + "/assets/images/data/scheme.png"}
		%p.scheme-desc ресурсы лаборатории позволяют собрать оптимальный состав команды под каждый новый проект



	.who.chapter{ :data => {:link => '.who-link'} }
		%h2 кто
		.filters.col.people-wrapper
			.filter_people.people

				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/H68A8862.jpg'});"}
					%span{:style => "background: RGBa(175, 174, 146, .7);"} арсений<br /> мещеряков
				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/H68A8730.jpg'});"}
					%span{:style => "background: RGBa(137, 127, 123, .7);"} павел<br /> борисовский
				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/egor.JPG'});"}
					%span{:style => "background: RGBa(137, 127, 123, .7);"} василий<br /> егоров
				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/H68A7227.jpg'});"}
					%span{:style => "background: RGBa(175, 174, 146, .7);"} сергей<br /> клещев
				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/nov.JPG'});"}
					%span{:style => "background: RGBa(167, 171, 171, .7);"} алексей<br /> новичков
				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/H68A4905.jpg'});"}
					%span{:style => "background: RGBa(97, 95, 97, .7);"} олег<br /> пащенко
				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/rum.jpg'});"}
					%span{:style => "background: RGBa(167, 171, 171, .7);"} алексей<br /> рюмин
				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/serg.JPG'});"}
					%span{:style => "background: RGBa(167, 171, 171, .7);"} арсений<br /> сергеев
				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/H68A3451.jpg'});"}
					%span{:style => "background: RGBa(167, 171, 171, .7);"} протей<br /> темен
				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/yug.JPG'});"}
					%span{:style => "background: RGBa(124, 128, 129, .7);"} ира<br /> южанина
				%div.people-item.filter-item{:href => "#", :style => "background: url(#{settings.prefix + '/assets/images/data/log.JPG'});"}
					%span{:style => "background: RGBa(175, 174, 146, .7);"} наталья<br /> логутова




#post.article

/ .peopleAbouteOpen

.peopleAboute
	.peopleAboutItem
		%span Арсений Мещеряков
		%p Руководитель Школы дизайна НИУ ВШЭ. График, дизайнер, основатель дизайн-бюро «АГЕЙ ТОМЕШ», издатель журнала «WAM (World Art Mузей)» и создатель издательства «Книги WAM», в котором выходили, среди прочего, серия «Россия. XX век», «Московский метрополитен» (для программы «Интерроса») etc. Как художник, участвовал в различных выставочных проектах, в том числе в 52-й Биеннале современного искусства в Венеции.
	.peopleAboutItem
		%span Павел Борисовский
		%p Художник, дизайнер, учредитель и арт-директор дизайн-студии «Служба Пейзажа», создатель журнала «Предмет – пространство субкультур», автор «Глобального культурного проекта» (Global Cultural Project, GCP). Арт-директор конференции-форума «Субкультуры: потенциал развития» в Центре современной культуры «Гараж». С 2013 года преподает в Школе дизайна НИУ ВШЭ.
		.person-works
			%img.col-10{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky1.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky2.jpg"}
			%img.col-4{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky3.jpg"}
			%img.col-3{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky4.jpg"}
			%img.col-6{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky5.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky6.jpg"}
	.peopleAboutItem
		%span Василий Егоров
		%p График, дизайнер, фотограф. Заместитель руководителя Лаборатории, занимается разработкой визуально-графических концепций, созданием фирменных стилей, товарных знаков, упаковок, интернет-сайтов etc. В прошлом работал в креативном агентстве «Артоника», в качестве арт-директора руководил Ogilvy & Mather.
	.peopleAboutItem
		%span Сергей Клещев
		%p Художник, дизайнер. Сотрудничал с ИД «Коммерсантъ», дизайн-студией «Штат», Студией Артемия Лебедева. Участник выставок в Москве, Екатеринбурге, Нью-Йорке; стрит-арт проекта в Хельсинки, Киясма, Тромсе. Участник I Киевской биеннале современного искусства. С 2013 года преподает в Школе дизайна НИУ ВШЭ.
		.person-works
			%img.col-5.in{:src => settings.prefix + "/assets/data/person/kleschev/kleschev1.jpg"}
			%img.col-5.in{:src => settings.prefix + "/assets/data/person/kleschev/kleschev2.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/kleschev/kleschev3.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/kleschev/kleschev4.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/kleschev/kleschev5.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/kleschev/kleschev6.jpg"}
			%img.col-5.in{:src => settings.prefix + "/assets/data/person/kleschev/kleschev7.jpg"}
			%img.col-5.in{:src => settings.prefix + "/assets/data/person/kleschev/kleschev8.jpg"}
	.peopleAboutItem
		%span Алексей Новичков
		%p Графический дизайнер, эксперт в области инфографики и независимый консультант. Как дизайнер сотрудничал с журналами «Русский Репортёр», «Вокруг Света», «Сноб», «Артхроника», «ADWEEK» (США) и др. Преподавал графический дизайн и инфографику в МГТУ им. Баумана, МГУ, Британской школе дизайна. Куратор и автор двухдневных и недельных интенсивных образовательных программ по инфографике, в 2011- 2014 годах занимал должность заместителя руководителя студии инфографики РИА Новости, где разработал систему графических шаблонов для оперативной, статичной и мультимедийной инфографики. С 2014 года преподает в Школе дизайна НИУ ВШЭ.
		.person-works
			%img.col-10{:src => settings.prefix + "/assets/data/person/novichkov/novichkov1.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/novichkov/novichkov2.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/novichkov/novichkov3.jpg"}
			%img.col-6{:src => settings.prefix + "/assets/data/person/novichkov/novichkov4.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/novichkov/novichkov5.jpg"}

	.peopleAboutItem
		%span Олег Пащенко
		%p Художник, иллюстратор, один из самых известных веб-дизайнеров в стране, в прошлом арт-директор Студии Артемия Лебедева (2003-2010). Руководил студиями F26 и POST, вел курс «Цифровое искусство» в Британской высшей школе дизайна. Автор персональных выставок, иллюстраций и интернет-инсталляций, занимается оформлением книг и музыкальных альбомов. Победитель Flash Film Festival New York, обладатель «Бронзового льва» 48-го Фестиваля рекламы Cannes Lions и титула «Человек года Rambler». С 2013 года преподает в Школе дизайна НИУ ВШЭ.
		.person-works
			%img.col-10{:src => settings.prefix + "/assets/data/person/paschenko/paschenko1.jpg"}
			.col-5.in
				%img.col-10{:src => settings.prefix + "/assets/data/person/paschenko/paschenko2.jpg"}
				%img.col-10{:src => settings.prefix + "/assets/data/person/paschenko/paschenko3.jpg"}
				%img.col-10{:src => settings.prefix + "/assets/data/person/paschenko/paschenko4.jpg"}
				%img.col-10{:src => settings.prefix + "/assets/data/person/paschenko/paschenko5.jpg"}
			.col-5.in
				%img.col-10{:src => settings.prefix + "/assets/data/person/paschenko/paschenko6.jpg"}
				%img.col-10{:src => settings.prefix + "/assets/data/person/paschenko/paschenko7.jpg"}
				%img.col-10{:src => settings.prefix + "/assets/data/person/paschenko/paschenko8.jpg"}
				%img.col-10{:src => settings.prefix + "/assets/data/person/paschenko/paschenko9.jpg"}

			%img.col-10{:src => settings.prefix + "/assets/data/person/paschenko/paschenko10.jpg"}


	.peopleAboutItem
		%span Алексей Рюмин
		%p Художник, дизайнер, автор графических работ, музыкальных клипов (СБПЧ, Некубань, Петр Налич), анимационных и документальных фильмов и видео-арта, фотограф, режиссер театральных постановок, участник международных выставок -- как автор и куратор. Лауреат ряда архитектурных конкурсов и Конкурса короткометражных фильмов Panasonic Viera. С 2013 года преподает в Школе дизайна НИУ ВШЭ.
		.person-works
			%img.col-10{:src => settings.prefix + "/assets/data/person/Rumin/Rumin1.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/Rumin/Rumin2.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/Rumin/Rumin3.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/Rumin/Rumin4.jpg"}

	.peopleAboutItem
		%span Арсений Сергеев
		%p Художник и куратор проектов современного искусства. Родился в 1966 году в Свердловске. В 1986 году окончил Свердловское художественное училище им. Щадра, а в 1995 - Уральский государственный архитектурно-художественный институт. Лауреат премии "Инновация 2008" в номинации "лучший региональный проект", автор книги "Художественная Культура Урала". С 2014 года преподает в Школе дизайна НИУ ВШЭ.
	.peopleAboutItem
		%span Протей Темен
		%p Художник, арт-директор и сооснователь компании детских интерактивных игр BUBL. Участник более 100 выставок в России, США, Бразилии и Европе, автор многих персональных выставок в России и за рубежом. Участник проекта BYOB на Венецианской биеннале современного искусства 2011 года. С 2013 года преподает в Школе дизайна НИУ ВШЭ.
		.person-works
			%img.col-10{:src => settings.prefix + "/assets/data/person/Temen/temen1.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/Temen/temen2.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/Temen/temen3.jpg"}
			%img.col-10{:src => settings.prefix + "/assets/data/person/Temen/temen4.jpg"}
			%img.col-5{:src => settings.prefix + "/assets/data/person/Temen/temen5.jpg"}
	.peopleAboutItem
		%span Ирина Южанина
		%p Графический и ивент-дизайнер. Работала в Imadesign, LogvinDesign и Ostengruppe/ Zoloto group. В качестве арт-директора Event Agency Clover создавала визуальные концепции  массовых, частных и коммерческих мероприятий, включая «Пикник «Афиши»» и «Праздник «Еды»». С 2014 года преподает в Школе дизайна НИУ ВШЭ.
	.peopleAboutItem
		%span Наталья Логутова
		%p Заместитель руководителя Школы дизайна НИУ ВШЭ, руководитель Лаборатории Школы дизайна.  В прошлом работала в Komkor-TV, Студии Артемия Лебедева, была бизнес-директором Articul Media и коммерческим директором интернет-ресурса polit.ru.




	/ .peopleAboutItem
	/ 	%span Александр Ларцев.
	/ 	%p Дизайнер, куратор. Основатель и креативный директор галереи «180 m²», находящейся на территории Бахметьевского гаража.  В прошлом дизайнер Московского института социально-культурных программ, художественный редактор издательства «Книжники». Участник российских и зарубежных фестивалей дизайна. Лауреат премии Родченко. С 2014 года преподает в Школе дизайна НИУ ВШЭ.
	/ .peopleAboutItem
	/ 	%span Роман Вороновский
	/ 	%p Художник, дизайнер. Больше 10 лет работал в издательстве «АГЕЙ ТОМЕШ»/WAM (World Art Музей), создавая иллюстрации в том числе для журнала  WAM и корпоративных изданий,  веб-проектов «FTBL.com», «Анархо-географическая игра», «Западный фон Мюнхаузен». Параллельно как художник участвовал в выставках в Москве и Санкт-Петербурге. С 2014 года преподает в Школе дизайна НИУ ВШЭ.
