---
title: 'Лаборатория дизайна высшей школы экономики'
page_class: 'index'
---
.main-wrapper
  %header.header.columns.chapter.col-xs-10.col-xs-offset-1.col-sm-offset-2{ :data => {:link => '.header-link'} }
    .infoblock.col
      .social
        %a.social-fb{href: "https://www.facebook.com/HSEDesign"} Facebook
        %a.social-vk{href: "http://vk.com/hsedesign"} Vk
        %a.social-tw{href: "http://twitter.com/hsedesign"} Twitter
      .infoblock-contacts
        %p
          %a{:href => "mailto:deslab@hse.ru"} deslab@hse.ru
        %p +7 (495) 772-95-90 (доб. 14302)
    .description Лаборатория дизайна – это подразделение Школы дизайна НИУ ВШЭ, по форме деятельности представляющее собой арт-студию или дизайн-бюро. Но ни в одной другой студии вы не найдете такого количества выдающих дизайнеров, собранных под одной крышей. Интеллектуальные и технические ресурсы Лаборатории позволяют собрать оптимально выгодный состав команды под каждый новый проект и бюджет.
  .what.chapter.col-xs-10.col-xs-offset-1.col-sm-offset-2{ :data => {:link => '.what-link'} }
    %h2 что
    .filter.filter_tags
    
      %a.filter_active.filter-item{:href => "all", :id => "all"} всё
      
      = partial :filter, locals: {name: "graph", head: "графический&nbsp;дизайн"}
      = partial :filter, locals: {name: "brending", head: "брендинг"}
      = partial :filter, locals: {name: "godotchet", head: "годовые&nbsp;отчеты&nbsp;и&nbsp;буклеты"}
      = partial :filter, locals: {name: "prezentacii", head: "презентации"}
      = partial :filter, locals: {name: "infografika", head: "инфографика"}
      = partial :filter, locals: {name: "digital", head: "диджитал"}
      = partial :filter, locals: {name: "reklama", head: "реклама"}
      = partial :filter, locals: {name: "g2013", head: "2013"}
      = partial :filter, locals: {name: "g2014", head: "2014"}    

      %br
    %span.portfolio-link
      %a{:href => settings.prefix + "/assets/data/hse-designlab-portfolio.pdf"} скачать портфолио pdf, 10&nbsp;МБ

.items-wrapper.col-xs-10.col-xs-offset-1.col-sm-offset-2
  .items#items.items-container
    = partial :work, locals: {tags: "f_graph f_brending f_digital f_reklama f_g2014", name: "rvkcalen", head: "РВК<br />календарь", color: "#24286a"} 
    = partial :work, locals: {tags: "f_graph f_godotchet f_infografika f_reklama f_g2014", name: "chtpz", head: "ЧТПЗ<br />полиграфия", color: "#c2321a"} 
    = partial :work, locals: {tags: "f_graph f_brending f_infografika f_godotchet f_g2014", name: "rvk", head: "РВК<br />полиграфия", color: "#730e92"} 
    = partial :work, locals: {tags: "f_graph f_brending f_g2014", name: "hosp", head: "Первый московский хоспис им.&nbsp;Веры&nbsp;Миллионщиковой<br />стиль", color: "#ebdf35", size: "item_big"} 
    = partial :work, locals: {tags: "f_graph f_brending f_digital f_reklama f_g2014", name: "school", head: "Школа дизайна<br /> стиль и носители", color: "#000000"} 
    = partial :work, locals: {tags: "f_graph f_brending f_infografika f_g2013 f_g2014", name: "lyceumhse", head: "Лицей НИУ&nbsp;ВШЭ <br />стиль", color: "#1264fb"} 
    = partial :work, locals: {tags: "f_graph f_brending f_g2013", name: "goldhse", head: "премия «Золотая вышка» <br />стиль", color: "#ffb8b8", size: "item_big"} 
    = partial :work, locals: {tags: "f_graph f_brending f_g2013", name: "depintercom", head: "«Отделение интегрированных коммуникаций»<br />стиль", color: "#c23a1d", size: "item_big"} 
    = partial :work, locals: {tags: "f_graph f_brending f_g2013 f_g2014", name: "pyrusstyle", head: "«PYRUS»<br />стиль", color: "#e7b73c", size: "item_big"} 
    = partial :work, locals: {tags: "f_digital f_reklama f_g2014", name: "pyrusstyle", head: "«PYRUS» <br />сайт", color: "#2bb6ac"} 
    = partial :work, locals: {tags: "f_graph f_reklama f_g2013 f_g2014", name: "lecturezil", head: "Лекции в кц ЗИЛ", color: "#0b4dd9"} 
    = partial :work, locals: {tags: "f_graph f_godotchet f_g2013 f_g2014", name: "rosatom", head: "«Росатом» <br />буклет", color: "#df7b00"} 
    = partial :work, locals: {tags: "f_graph f_brending f_digital f_g2013 f_g2014", name: "iohse", head: "«Института образования НИУ&nbsp;ВШЭ» <br />Брендбук", color: "#8c3e3f", size: "item_big"} 
    = partial :work, locals: {tags: "f_digital f_g2013", name: "isiezsite", head: "ИСИЭЗ <br />сайт", color: "#3cc47c"} 
    = partial :work, locals: {tags: "f_godotchet", name: "arkso", head: "Годовой отчет ВЭБ", color: "#77b4d1"} 
    = partial :work, locals: {tags: "f_graph f_reklama f_g2013", name: "lecturesp", head: "лекции в Санкт-Петербурге", color: "#64bebf"}
    = partial :work, locals: {tags: "f_graph f_prezentacii f_infografika f_g2013 f_g2014", name: "presentationdepculture", head: "Презентация для ДЕПАРТАМЕНТа&nbsp;КУЛЬТУРЫ", color: "#339e2a", size: "item_big"}
    = partial :work, locals: {tags: "f_graph f_infografika f_godotchet f_g2013", name: "isiezbooklet", head: "ИСИЭЗ <br />буклет", color: "#6862a2"}
    = partial :work, locals: {tags: "f_graph f_godotchet f_infografika f_g2013", name: "skolkovo", head: "Сколково <br />буклет", color: "#76d7ff"}


.main-wrapper
  .how.chapter.col-xs-10.col-xs-offset-1.col-sm-offset-2{ :data => {:link => '.how-link'} }
    %h2 как
    .scheme
      %img{:src => settings.prefix + "/assets/images/data/scheme.png"}
    %p.scheme-desc ресурсы лаборатории позволяют собрать оптимальный состав команды под каждый новый проект



  .who.chapter.col-xs-10.col-xs-offset-2{ :data => {:link => '.who-link'} }
    %h2 кто
.filters.col.people-wrapper.col-xs-10.col-xs-offset-1.col-sm-offset-2
  .filter_people.people.items-container
    = partial :person, locals: {name: "meshherjakov", head: "арсений<br /> мещеряков"}
    = partial :person, locals: {name: "borisovsky", head: "павел<br /> борисовский"}
    = partial :person, locals: {name: "egorov", head: "василий<br /> егоров"}
    = partial :person, locals: {name: "kleschev", head: "сергей<br /> клещев"}
    = partial :person, locals: {name: "novichkov", head: "алексей<br /> новичков"}
    = partial :person, locals: {name: "paschenko", head: "олег<br /> пащенко"}
    = partial :person, locals: {name: "rumin", head: "алексей<br /> рюмин"}
    = partial :person, locals: {name: "sergeev", head: "арсений<br /> сергеев"}
    = partial :person, locals: {name: "temen", head: "протей<br /> темен"}
    = partial :person, locals: {name: "juzhanina", head: "ира<br /> южанина"}
    = partial :person, locals: {name: "logutova", head: "наталья<br /> логутова"}



#post.article
